<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Routines</h1>
        <a href="/" class="btn btn-default btn-sm">Home</a>
        <a href="/routines/new" class="btn btn-default btn-sm">Create Routine</a>
        <a href="/Search" class="btn btn-default btn-sm">Search for Other Rutines</a>
    </div>

    <div class="row">
    <h4>Your Routines</h4>
    <table class="table">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>Likes</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Make Routine</th>
        </tr>
        <% routines.forEach(function(routine) { %>
        <tr>
            <td><a href="/routines/show/<%= routine._id%>">Show</a></td>
            <td><%= routine.name %></td>
            <td><%= routine.description %></td>
            <td><%= routine.likes > 0 ? routine.likes : "0" %></td>
            <td><a href="/routines/edit/<%= routine._id%>">Edit</a></td>
            <td><a class="deleteUserRoutines" href="/routines/delete/<%= routine._id%>">Delete</a></td>
            <td><a class="makeFavorite" href="/routines/makeFavorite/<%= routine._id%>">Make Main Routine</a></td>
        </tr>
        <% }) %>
    </table>
    <br>
        <h4>Your Likes</h4>
        <div class="col-sm-12">
            <div class="list-group">

                <% likeRoutines.forEach(function(likeRoutine) { %>
                    <a href="/routines/show/<%= likeRoutine._id %>" class="list-group-item list-group-item-action"> <h5 class="list-group-item-heading"><%= likeRoutine.name %></h5>
              		<p class="list-group-item-text"><%= likeRoutine.description %></p>
              		</a>
                <% }) %>
            </div
        </div>

    </div>
    

</div>
    
</body>
<footer>
    <% include ../partials/footer %>
</footer>
</html>