<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Routines</h1>
        <a href="/" class="btn btn-default btn-sm">Home</a>
        <a href="/routines/new" class="btn btn-default btn-sm">Create Routine</a>
        <a href="/Search" class="btn btn-default btn-sm">Search for Other Rutines</a>
    </div>

    <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-12">

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <div id="exPicture"></div>
                <div id="exCategory"></div>
                <h5>Muscles</h5>
                <div id="exMuscles"></div>
                <div id="exDescription"></div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>
            <div class="well">
                <h3><span class="fa fa-user"></span> Routine: <%= routine.name %></h3>

                    <p>
                        <strong>Description: </strong><%= routine.description %></br>
                        <strong>Created By: </strong><%= user.name %>
                    </p>
                        <% var local = false %>
                        <% user.likes.forEach(function(id){ %>
                            <% if (String(id) == String(routine._id)) { %>
                                <a href="/routines/dislike/<%= routine._id%>" class="btn btn-warning btn-sm">Dislike this Routine</a>
                                <% local = true %>
                            <% } else {%>
                                
                        <% }  }) %>
                        <% if (user.likes.length == 0 || local == false) { %>
                            <a href="/routines/like/<%= routine._id%>" class="btn btn-warning btn-sm">Like this Routine</a>
                        <% } %>
                        <a class="btn btn-success btn-sm makeFavorite" href="/routines/makeFavorite/<%= routine._id%>">Make Main Routine</a>
                    </br>
                    <h4>Weeks</h4>
                        <div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <% for (var i = 1; i <= routine.weeks.length; i++) { %>
                                    <% if (i === 1) { %>
                                        <li role="presentation" class="active"><a href="#week<%= i %>" aria-controls="week<%= i %>" role="tab" data-toggle="tab">Week <%= i %></a></li>
                                    <% } else { %>
                                        <li role="presentation"><a href="#week<%= i %>" aria-controls="week<%= i %>" role="tab" data-toggle="tab">Week <%= i %></a></li>
                                    <% } %>
                                
                                <% } %>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <% for (var i = 1; i <= routine.weeks.length; i++) { %>
                                    <% if (i === 1) { %>
                                        <div role="tabpanel" class="tab-pane active" id="week<%= i %>">
                                            </br>
                                            <h5>Sunday:</h5>
                                                <% if (routine.weeks[i -1].sunday == "") {%>
                                                    <p>Rest Day</p>
                                                <% } else { %>
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tr>
                                                            <th>Excersie</th>
                                                            <th>Sets</th>
                                                            <th>Units</th>
                                                            <th>Amount</th>
                                                            <th>More Info</th>
                                                        </tr>
                                                        <% routine.weeks[i -1].sunday.forEach(function(workout) { %>
                                                        <tr>
                                                            <td><%= workout.workoutName %></td>
                                                            <td><%= workout.sets %></td>
                                                            <td><%= workout.unit %></td>
                                                            <td><%= workout.amount %></td>
                                                            <td><a class="workoutInfo" href="/workoutInfo/<%= workout.workoutID%>">Help</a></td>
                                                        </tr>
                                                        <% }) %>
                                                    </table>
                                                </div>
                                                <% } %>
                                            <h5>Monday:</h5>
                                                <% if (routine.weeks[i -1].monday == "") {%>
                                                    <p>Rest Day</p>
                                                <% } else { %>
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tr>
                                                            <th>Excersie</th>
                                                            <th>Sets</th>
                                                            <th>Units</th>
                                                            <th>Amount</th>
                                                            <th>More Info</th>
                                                        </tr>
                                                        <% routine.weeks[i -1].monday.forEach(function(workout) { %>
                                                        <tr>
                                                            <td><%= workout.workoutName %></td>
                                                            <td><%= workout.sets %></td>
                                                            <td><%= workout.unit %></td>
                                                            <td><%= workout.amount %></td>
                                                            <td><a class="workoutInfo" href="/workoutInfo/<%= workout.workoutID%>">Help</a></td>
                                                        </tr>
                                                        <% }) %>
                                                    </table>
                                                </div>
                                                <% } %>
                                            <h5>Tusday:</h5>
                                                <% if (routine.weeks[i -1].tusday == "") {%>
                                                    <p>Rest Day</p>
                                                <% } else { %>
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tr>
                                                            <th>Excersie</th>
                                                            <th>Sets</th>
                                                            <th>Units</th>
                                                            <th>Amount</th>
                                                            <th>More Info</th>
                                                        </tr>
                                                        <% routine.weeks[i -1].tusday.forEach(function(workout) { %>
                                                        <tr>
                                                            <td><%= workout.workoutName %></td>
                                                            <td><%= workout.sets %></td>
                                                            <td><%= workout.unit %></td>
                                                            <td><%= workout.amount %></td>
                                                            <td><a class="workoutInfo" href="/workoutInfo/<%= workout.workoutID%>">Help</a></td>
                                                        </tr>
                                                        <% }) %>
                                                    </table>
                                                </div>
                                                <% } %>
                                            <h5>Wednesday:</h5>
                                                <% if (routine.weeks[i -1].wednesday == "") {%>
                                                    <p>Rest Day</p>
                                                <% } else { %>
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tr>
                                                            <th>Excersie</th>
                                                            <th>Sets</th>
                                                            <th>Units</th>
                                                            <th>Amount</th>
                                                            <th>More Info</th>
                                                        </tr>
                                                        <% routine.weeks[i -1].wednesday.forEach(function(workout) { %>
                                                        <tr>
                                                            <td><%= workout.workoutName %></td>
                                                            <td><%= workout.sets %></td>
                                                            <td><%= workout.unit %></td>
                                                            <td><%= workout.amount %></td>
                                                            <td><a class="workoutInfo" href="/workoutInfo/<%= workout.workoutID%>">Help</a></td>
                                                        </tr>
                                                        <% }) %>
                                                    </table>
                                                </div>
                                                <% } %>
                                            <h5>Thursday:</h5>
                                                <% if (routine.weeks[i -1].thursday == "") {%>
                                                    <p>Rest Day</p>
                                                <% } else { %>
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tr>
                                                            <th>Excersie</th>
                                                            <th>Sets</th>
                                                            <th>Units</th>
                                                            <th>Amount</th>
                                                            <th>More Info</th>
                                                        </tr>
                                                        <% routine.weeks[i -1].thursday.forEach(function(workout) { %>
                                                        <tr>
                                                            <td><%= workout.workoutName %></td>
                                                            <td><%= workout.sets %></td>
                                                            <td><%= workout.unit %></td>
                                                            <td><%= workout.amount %></td>
                                                            <td><a class="workoutInfo" href="/workoutInfo/<%= workout.workoutID%>">Help</a></td>
                                                        </tr>
                                                        <% }) %>
                                                    </table>
                                                </div>
                                                <% } %>
                                                </br>
                                            <h5>Friday:</h5>
                                                <% if (routine.weeks[i -1].friday == "") {%>
                                                    <p>Rest Day</p>
                                                <% } else { %>
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tr>
                                                            <th>Excersie</th>
                                                            <th>Sets</th>
                                                            <th>Units</th>
                                                            <th>Amount</th>
                                                            <th>More Info</th>
                                                        </tr>
                                                        <% routine.weeks[i -1].friday.forEach(function(workout) { %>
                                                        <tr>
                                                            <td><%= workout.workoutName %></td>
                                                            <td><%= workout.sets %></td>
                                                            <td><%= workout.unit %></td>
                                                            <td><%= workout.amount %></td>
                                                            <td><a class="workoutInfo" href="/workoutInfo/<%= workout.workoutID%>">Help</a></td>
                                                        </tr>
                                                        <% }) %>
                                                    </table>
                                                </div>
                                                <% } %>
                                            <h5>Saturday:</h5>
                                                <% if (routine.weeks[i -1].saturday == "") {%>
                                                    <p>Rest Day</p>
                                                <% } else { %>
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tr>
                                                            <th>Excersie</th>
                                                            <th>Sets</th>
                                                            <th>Units</th>
                                                            <th>Amount</th>
                                                            <th>More Info</th>
                                                        </tr>
                                                        <% routine.weeks[i -1].saturday.forEach(function(workout) { %>
                                                        <tr>
                                                            <td><%= workout.workoutName %></td>
                                                            <td><%= workout.sets %></td>
                                                            <td><%= workout.unit %></td>
                                                            <td><%= workout.amount %></td>
                                                            <td><a class="workoutInfo" href="/workoutInfo/<%= workout.workoutID%>">Help</a></td>
                                                        </tr>
                                                        <% }) %>
                                                    </table>
                                                </div>
                                                <% } %>
                                        </div>
                                    <% } else { %>
                                        <div role="tabpanel" class="tab-pane" id="week<%= i %>">
                                            </br>
                                            </br>
                                            <h5>Sunday:</h5>
                                                <% if (routine.weeks[i -1].sunday == "") {%>
                                                    <p>Rest Day</p>
                                                <% } else { %>
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tr>
                                                            <th>Excersie</th>
                                                            <th>Sets</th>
                                                            <th>Units</th>
                                                            <th>Amount</th>
                                                            <th>More Info</th>
                                                        </tr>
                                                        <% routine.weeks[i -1].sunday.forEach(function(workout) { %>
                                                        <tr>
                                                            <td><%= workout.workoutName %></td>
                                                            <td><%= workout.sets %></td>
                                                            <td><%= workout.unit %></td>
                                                            <td><%= workout.amount %></td>
                                                            <td><a class="workoutInfo" href="/workoutInfo/<%= workout.workoutID%>">Help</a></td>
                                                        </tr>
                                                        <% }) %>
                                                    </table>
                                                </div>
                                                <% } %>
                                            <h5>Monday:</h5>
                                                <% if (routine.weeks[i -1].monday == "") {%>
                                                    <p>Rest Day</p>
                                                <% } else { %>
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tr>
                                                            <th>Excersie</th>
                                                            <th>Sets</th>
                                                            <th>Units</th>
                                                            <th>Amount</th>
                                                            <th>More Info</th>
                                                        </tr>
                                                        <% routine.weeks[i -1].monday.forEach(function(workout) { %>
                                                        <tr>
                                                            <td><%= workout.workoutName %></td>
                                                            <td><%= workout.sets %></td>
                                                            <td><%= workout.unit %></td>
                                                            <td><%= workout.amount %></td>
                                                            <td><a class="workoutInfo" href="/workoutInfo/<%= workout.workoutID%>">Help</a></td>
                                                        </tr>
                                                        <% }) %>
                                                    </table>
                                                </div>
                                                <% } %>
                                            <h5>Tusday:</h5>
                                                <% if (routine.weeks[i -1].tusday == "") {%>
                                                    <p>Rest Day</p>
                                                <% } else { %>
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tr>
                                                            <th>Excersie</th>
                                                            <th>Sets</th>
                                                            <th>Units</th>
                                                            <th>Amount</th>
                                                            <th>More Info</th>
                                                        </tr>
                                                        <% routine.weeks[i -1].tusday.forEach(function(workout) { %>
                                                        <tr>
                                                            <td><%= workout.workoutName %></td>
                                                            <td><%= workout.sets %></td>
                                                            <td><%= workout.unit %></td>
                                                            <td><%= workout.amount %></td>
                                                            <td><a class="workoutInfo" href="/workoutInfo/<%= workout.workoutID%>">Help</a></td>
                                                        </tr>
                                                        <% }) %>
                                                    </table>
                                                </div>
                                                <% } %>
                                            <h5>Wednesday:</h5>
                                                <% if (routine.weeks[i -1].wednesday == "") {%>
                                                    <p>Rest Day</p>
                                                <% } else { %>
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tr>
                                                            <th>Excersie</th>
                                                            <th>Sets</th>
                                                            <th>Units</th>
                                                            <th>Amount</th>
                                                            <th>More Info</th>
                                                        </tr>
                                                        <% routine.weeks[i -1].wednesday.forEach(function(workout) { %>
                                                        <tr>
                                                            <td><%= workout.workoutName %></td>
                                                            <td><%= workout.sets %></td>
                                                            <td><%= workout.unit %></td>
                                                            <td><%= workout.amount %></td>
                                                            <td><a class="workoutInfo" href="/workoutInfo/<%= workout.workoutID%>">Help</a></td>
                                                        </tr>
                                                        <% }) %>
                                                    </table>
                                                </div>
                                                <% } %>
                                            <h5>Thursday:</h5>
                                                <% if (routine.weeks[i -1].thursday == "") {%>
                                                    <p>Rest Day</p>
                                                <% } else { %>
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tr>
                                                            <th>Excersie</th>
                                                            <th>Sets</th>
                                                            <th>Units</th>
                                                            <th>Amount</th>
                                                            <th>More Info</th>
                                                        </tr>
                                                        <% routine.weeks[i -1].thursday.forEach(function(workout) { %>
                                                        <tr>
                                                            <td><%= workout.workoutName %></td>
                                                            <td><%= workout.sets %></td>
                                                            <td><%= workout.unit %></td>
                                                            <td><%= workout.amount %></td>
                                                            <td><a class="workoutInfo" href="/workoutInfo/<%= workout.workoutID%>">Help</a></td>
                                                        </tr>
                                                        <% }) %>
                                                    </table>
                                                </div>
                                                <% } %>
                                                </br>
                                            <h5>Friday:</h5>
                                                <% if (routine.weeks[i -1].friday == "") {%>
                                                    <p>Rest Day</p>
                                                <% } else { %>
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tr>
                                                            <th>Excersie</th>
                                                            <th>Sets</th>
                                                            <th>Units</th>
                                                            <th>Amount</th>
                                                            <th>More Info</th>
                                                        </tr>
                                                        <% routine.weeks[i -1].friday.forEach(function(workout) { %>
                                                        <tr>
                                                            <td><%= workout.workoutName %></td>
                                                            <td><%= workout.sets %></td>
                                                            <td><%= workout.unit %></td>
                                                            <td><%= workout.amount %></td>
                                                            <td><a class="workoutInfo" href="/workoutInfo/<%= workout.workoutID%>">Help</a></td>
                                                        </tr>
                                                        <% }) %>
                                                    </table>
                                                </div>
                                                <% } %>
                                            <h5>Saturday:</h5>
                                                <% if (routine.weeks[i -1].saturday == "") {%>
                                                    <p>Rest Day</p>
                                                <% } else { %>
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tr>
                                                            <th>Excersie</th>
                                                            <th>Sets</th>
                                                            <th>Units</th>
                                                            <th>Amount</th>
                                                            <th>More Info</th>
                                                        </tr>
                                                        <% routine.weeks[i -1].saturday.forEach(function(workout) { %>
                                                        <tr>
                                                            <td><%= workout.workoutName %></td>
                                                            <td><%= workout.sets %></td>
                                                            <td><%= workout.unit %></td>
                                                            <td><%= workout.amount %></td>
                                                            <td><a class="workoutInfo" href="/workoutInfo/<%= workout.workoutID%>">Help</a></td>
                                                        </tr>
                                                        <% }) %>
                                                    </table>
                                                </div>
                                                <% } %>
                                        </div>
                                    <% } %>
                                <% } %>
                                
                            </div>
                        </div>
            </div>
        </div>
    </div>
    

</div> 
</body>
<footer>
    <% include ../partials/footer %>
</footer>
</html>