<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Routines</h1>
        <a href="/" class="btn btn-default btn-sm">Home</a>
        <a href="/routines/new" class="btn btn-default btn-sm">Create Routine</a>
        <a href="/Search" class="btn btn-default btn-sm">Search for Other Rutines</a>
    </div>

    <div class="row">

    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Likes</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr>
            <td><%= routine.name %></td>
            <td><%= routine.description %></td>
            <td><%= routine.likes > 0 ? routine.likes : "0" %></td>
            <td><a href="/routines/edit/<%= routine._id%>">Edit</a></td>
            <td><a href="/routines/delete/<%= routine._id%>">Delete</a></td>
        </tr>
    </table>

    </div>
    

</div>
    
</body>
<footer>
    <% include ../partials/footer %>
</footer>
</html>